<html>
	<head>
		<script type="text/javascript" src="static/js/jquery-1.6.1.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.rating.js"></script>
		<link rel="stylesheet" media="screen" type="text/css" href="static/css/jquery.rating.css" />
		<script type="text/javascript">
		$(document).ready(function(){
			$('.rating').change(function() {
				var trail_id=$(this).attr('trail_id');
				var trail_rating=$(this).val();
				$.post('/addrating', {
					trail_id: $(this).attr('trail_id'),
					trail_rating: $(this).val()})
			});
			//Turn all the select boxes into rating controls
			$(".rating").rating({showCancel:false});
		});
		</script>

	</head>
	<body>
		<table>
		{% for area in areas %}
		<th align='left'>{{ area.name }}</th>
			{% for trail in area.trail_set %}
				<tr>
				<td>{{ trail.name }}</td>
				<td>
					<select class="rating" trail_id="{{ trail.key }}"> 
					{% for n in stars %}
						{% if trail.current_rating == n %}
							<option value="{{ n }}" selected>{{ n }}</option>
						{% else %}
							<option value="{{ n }}">{{ n }}</option>
						{% endif %}
					{% endfor %}
				</select>
				</td>
				</tr>
			{% endfor %}
		{% endfor %}
		</table>
	</body>
</html>
